<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>330072486538-qu4ajhq8bmi7kd8qm26k0td03hgqdode.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.330072486538-qu4ajhq8bmi7kd8qm26k0td03hgqdode</string>
	<key>API_KEY</key>
	<string>AIzaSyCprmry1hkwbRY72N6T9iy5GP_xZQumPGE</string>
	<key>GCM_SENDER_ID</key>
	<string>330072486538</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>proTawqi3iMobile.app</string>
	<key>PROJECT_ID</key>
	<string>tawqi3i-210fc</string>
	<key>STORAGE_BUCKET</key>
	<string>tawqi3i-210fc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:330072486538:ios:961d506571acd9f37d7373</string>
</dict>
</plist>