<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>proTawqi3iMobile.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>1</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>43E77E5A514F146D7F721DB006D642787DDEB34E</string>
				<key>dateExpires</key>
				<string>18/06/2024</string>
				<key>type</key>
				<string>Cloud Managed Apple Distribution</string>
			</dict>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>6KML92FA73.proTawqi3iMobile.app</string>
				<key>aps-environment</key>
				<string>production</string>
				<key>beta-reports-active</key>
				<true/>
				<key>com.apple.developer.team-identifier</key>
				<string>6KML92FA73</string>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>proTawqi3iMobile.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>23dbf989-7729-4211-8c78-5809e52fb5d0</string>
				<key>dateExpires</key>
				<string>18/06/2024</string>
				<key>name</key>
				<string>iOS Team Store Provisioning Profile: proTawqi3iMobile.app</string>
			</dict>
			<key>symbols</key>
			<true/>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>6KML92FA73</string>
				<key>name</key>
				<string>Hamzeh Hanandeh</string>
			</dict>
			<key>versionNumber</key>
			<string>2.1</string>
		</dict>
	</array>
</dict>
</plist>
